.cart-item {

}

.cart-item .cart-item-name {
    font-size: 20px;
    font-weight: bold;
}

.cart-item .cart-item-img {
    width: 96px;
    height: 96px;
}

.cart-item .cart-item-select {
    /*width: 96px;*/
}

.recommended-item .image-container {
    position: relative;
}

.recommended-item .new-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.2s;
}

.image-container:hover .new-badge {
    /*display: none;*/
    opacity: 0;
}
