.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text-bold {
    font-weight: bold !important;
}

.btn-custom-primary {
    color: #fff;
    background-color: #5ca9fb;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    border: none;
}

.btn-custom-primary:hover,
.btn-custom-primary:focus,
.btn-custom-primary.focus,
.btn-custom-primary:active,
.btn-custom-primary.active {
    color: #fff;
    background-image: none;
    background-color: #6372ff;
    transition: all 0.4s ease;
}

/** {*/
/*    border: 1px red dashed !important;*/
/*}*/

.swiper {
    padding: 0 5px;
}

.swiper-slide {
    width: 300px;
    height: 400px;
}

.product-slide .image-container {
    position: relative;
}

.product-slide .new-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.2s;
}

.product-slide .image-container:hover .new-badge {
    opacity: 0;
}
